workflows.json
[{"updatedAt":"2025-12-02T16:28:21.528Z","createdAt":"2025-10-03T08:13:34.493Z","id":"Wq8pU8eySs6HmbGo","name":"RAG","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[288,496],"id":"a437c17a-3fc3-471e-b618-d1a261c8762a","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"gXuPBb7nr1uPzksH","name":"tw40210"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.content }}","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"chunk_index","value":"={{ $json.metadata.chunk_index }}"},{"name":"total_chunks","value":"={{ $json.metadata.total_chunks }}"},{"name":"chunk_char_count","value":"={{ $json.metadata.chunk_char_count }}"},{"name":"file_name","value":"={{ $json.metadata.file_name }}"},{"name":"material_type","value":"={{ $json.metadata.material_type }}"},{"name":"material_category","value":"={{ $json.metadata.material_category }}"},{"name":"batch_index","value":"={{ $json.metadata.batch_index }}"},{"name":"total_batches","value":"={{ $json.metadata.total_batches }}"},{"name":"page_index","value":"={{ $json.metadata.page_index }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[400,800],"id":"dd033bc4-dc51-4e2a-adb2-db8b45bda9a1","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[256,784],"id":"d64d31cb-3fa4-41a8-b8e1-7461e9bddaa8","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"R4UPUPPFB2QaRCy5","name":"tw40210"}}},{"parameters":{"jsCode":"// Get the first item from the input\nconst item = $input.first();\n\nconst chunks = item.json.chunks;\n\n// Prepare an array to hold the new output items\nconst newItems = [];\nconst commonMetadata = {...item.json}\ndelete commonMetadata.chunks\n\n\n// Loop through each chunk in the array\nfor (const chunk of chunks) {\n  // Separate the text content from the chunk's specific metadata\n  const chunkText = chunk.chunk_text;\n  const chunkMetadata = { ...chunk, ...commonMetadata };\n  delete chunkMetadata.chunk_text\n\n  // Create a new item for the output\n  const newItem = {\n    json: {\n      // The main text content for the first column\n      content: chunkText,\n      // Combine the common metadata (like file_name) with the\n      // chunk-specific metadata (like chunk_index) for the second column\n      metadata: {\n        ...chunkMetadata\n      }\n    }\n  };\n  \n  // Add the newly created item to our output array\n  newItems.push(newItem);\n}\n\n// Return the array of newly created items.\n// n8n will treat each item as a separate row in the output table.\nreturn newItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,496],"id":"f255f49d-7927-4b7a-91f5-adcc237e6a59","name":"Code in JavaScript"},{"parameters":{"chunkSize":1700,"chunkOverlap":200},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[496,1008],"id":"247ef745-13d0-4fed-96a2-0bc9e4bf2e42","name":"Character Text Splitter"},{"parameters":{"workflowInputs":{"values":[{"name":"chunks","type":"array"},{"name":"file_name"},{"name":"material_type"},{"name":"file_name"},{"name":"material_category"},{"name":"total_batches"},{"name":"batch_index"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-608,496],"id":"58523827-b2e2-4377-83bd-1e4091df5518","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"select n8n_execution_id, report_groups  from n8n_report_model_logs\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,208],"id":"18198fde-1613-413f-9c3b-c97116f6cf32","name":"(Debug)Execute a SQL query","credentials":{"postgres":{"id":"wDN6mCrac5JhvuiP","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c09f0eff-891f-4a9f-8a52-f5736abdfa3c","name":"chunks","value":"={{ $json.chunks }}","type":"array"},{"id":"e1283182-f701-46f2-aa95-1f6366ff8a92","name":"file_name","value":"={{ $json.file_name }}","type":"string"},{"id":"a131a796-9ae3-4b9e-9c37-7536017ed9de","name":"material_type","value":"={{ $json.material_type }}","type":"string"},{"id":"391d2d4d-2736-4e54-aea8-543051323423","name":"file_name","value":"={{ $json.file_name }}","type":"string"},{"id":"cf0aa09e-9b12-455b-8dd4-cfa8936b3f6f","name":"material_category","value":"={{ $json.material_category }}","type":"string"},{"id":"cbf94028-b304-49ce-9d3b-17fddc947a08","name":"batch_index","value":"={{ $json.batch_index }}","type":"number"},{"id":"bc3e2dc3-9af7-4c26-a853-8020c9ca77c1","name":"total_batches","value":"={{ $json.total_batches }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,496],"id":"9dbc9e88-2a3f-419c-bf05-6d9ba694cbe8","name":"Setup basic variables"},{"parameters":{"content":"## Upload material chunks to RAG store\n","height":720,"width":720},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,432],"id":"7f94957f-aa92-4dea-b216-0c4e1c7cb71e","name":"Sticky Note"}],"connections":{"Supabase Vector Store":{"main":[[]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Setup basic variables","type":"main","index":0}]]},"Setup basic variables":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":900},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9cb7896f-a361-4ac0-9bd0-4ce8335cf743","versionCounter":21,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-10-03T08:13:34.493Z","createdAt":"2025-10-03T08:13:34.493Z","role":"workflow:owner","workflowId":"Wq8pU8eySs6HmbGo","projectId":"Lloh3DD3VFIwy1bh","project":{"updatedAt":"2025-09-29T15:09:21.924Z","createdAt":"2025-09-28T10:40:04.982Z","id":"Lloh3DD3VFIwy1bh","name":"TZU HSUAN LIN_HX16 <tw40210@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-04T15:41:21.328Z","createdAt":"2025-11-12T16:11:53.237Z","id":"xRUMTh42oayIwOIz","name":"Financial Report Multi-LLM Judge System (OpenRouter) v2","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Parse all judge responses and calculate final score\nconst judges = $input.item.json.judges;\n\n// Initialize scores array\nconst scores = [];\nconst judgments = [];\nconst models = [\n        'Deepseek 3.2 (Model 1)',\n        'Deepseek 3.1 (Model 2)'\n      ]\n\n// Parse each judge's response\nfor (const judge of judges) {\n  try {\n    // Agent output can be in multiple formats\n    let judgeOutput;\n    \n    // Try different output formats\n    if (judge.data) {\n      judgeOutput = judge.data;\n    } else {\n      console.log('Skipping judge - no valid output found');\n      continue;\n    }\n  const extractedJudgments = {\n      reasoning: [],\n      strengths: [],\n      weaknesses: [],\n      scores: []\n  };\n  \n  // Loop through each judgment in the array\n  for (let i = 0; i < judgeOutput.individual_judgments.length; i++) {\n    \n    // Get the current judgment object\n    const currentJudgment = judgeOutput.individual_judgments[i];\n  \n    // Extract the properties using the paths\n    extractedJudgments.reasoning.push(currentJudgment.reasoning);\n    extractedJudgments.strengths.push(currentJudgment.strengths) // This will be an array\n    extractedJudgments.weaknesses.push(currentJudgment.weaknesses) // This will also be an array\n    extractedJudgments.scores.push(currentJudgment.score) // This will also be an array\n  }\n    // Extract score and details\n    // Using a median\n    const score = parseFloat(judgeOutput.aggregated_assessment.median_score);\n    if (!isNaN(score) && score >= 0 && score <= 100) {\n      scores.push(score);\n      judgments.push({\n        dimension: judge.sub_workflow_type || 'Unknown',\n        score: score,\n        reasoning: extractedJudgments.reasoning || '',\n        strengths: extractedJudgments.strengths || [],\n        weaknesses: extractedJudgments.weaknesses || [],\n        scores: extractedJudgments.scores || [],\n        models: models || []\n      });\n    }\n  } catch (error) {\n    console.error('Error parsing judge response:', error);\n    // Continue processing other judges\n  }\n}\n\n// Check if we have any valid judgments\nif (judgments.length === 0) {\n  throw new Error('No valid judgments received from any judge. Please check agent configurations.');\n}\n\n// Calculate statistics\nconst averageScore = scores.reduce((a, b) => a + b, 0) / scores.length;\nconst minScore = Math.min(...scores);\nconst maxScore = Math.max(...scores);\nconst sortedScores = [...scores].sort((a, b) => a - b);\nconst medianScore = sortedScores[Math.floor(sortedScores.length / 2)];\n\n// Determine overall quality rating\nlet qualityRating, isGood;\nif (averageScore >= 85) {\n  qualityRating = 'EXCELLENT';\n  isGood = true;\n} else if (averageScore >= 70) {\n  qualityRating = 'GOOD';\n  isGood = true;\n} else if (averageScore >= 55) {\n  qualityRating = 'ACCEPTABLE';\n  isGood = false;\n} else if (averageScore >= 30) {\n  qualityRating = 'POOR';\n  isGood = false;\n} else {\n  qualityRating = 'UNACCEPTABLE';\n  isGood = false;\n}\n\n// Calculate dimension-specific insights\nconst dimensionScores = {};\njudgments.forEach(j => {\n  dimensionScores[j.dimension] = j.score;\n});\n\n// Find strongest and weakest dimensions\nconst sortedJudgments = [...judgments].sort((a, b) => b.score - a.score);\nconst strongestDimension = sortedJudgments[0];\nconst weakestDimension = sortedJudgments[sortedJudgments.length - 1];\n\n// Compile all strengths and weaknesses\nconst allStrengths = judgments.flatMap(j => j.strengths).filter(s => s);\nconst allWeaknesses = judgments.flatMap(j => j.weaknesses).filter(w => w);\n\n// Generate final report\nreturn {\n  json: {\n    report_id: `financial_judge_${Date.now()}`,\n    timestamp: new Date().toISOString(),\n    material_category: $('Setup basic variables').first().json.material_category,\n    query: $('Setup basic variables').first().json.query,\n    \n    overall_assessment: {\n      is_good: isGood,\n      quality_rating: qualityRating,\n      average_score: Math.round(averageScore * 100) / 100,\n      median_score: Math.round(medianScore * 100) / 100,\n      score_range: {\n        min: Math.round(minScore * 100) / 100,\n        max: Math.round(maxScore * 100) / 100\n      }\n    },\n    \n    dimension_scores: dimensionScores,\n    \n    detailed_judgments: judgments,\n    \n    insights: {\n      strongest_dimension: {\n        name: strongestDimension.dimension,\n        score: strongestDimension.score\n      },\n      weakest_dimension: {\n        name: weakestDimension.dimension,\n        score: weakestDimension.score\n      },\n      key_strengths: allStrengths.slice(0, 5),\n      key_weaknesses: allWeaknesses.slice(0, 5)\n    },\n    \n    summary: {\n      total_judges: judgments.length,\n      evaluation_complete: true,\n      recommendation: isGood \n        ? 'This financial report meets quality standards and is suitable for stakeholder review.'\n        : 'This financial report requires improvement before stakeholder review. Focus on addressing the identified weaknesses.'\n    }\n  }\n};"},"id":"98419146-4c3e-43f7-b5d3-c0455ca7efdb","name":"Calculate Final Score & Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-576]},{"parameters":{"jsCode":"// Format the final response for the webhook\nconst result = $input.item.json;\n\nreturn {\n  json: {\n    success: true,\n    data: result,\n    message: `Financial report evaluation complete using 5 different LLMs via OpenRouter. Overall rating: ${result.overall_assessment.quality_rating} (${result.overall_assessment.is_good ? 'GOOD' : 'NEEDS IMPROVEMENT'})`\n  }\n};"},"id":"1d988f2e-4fc5-43d4-a88e-f81d5894a744","name":"Format Final Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,-576]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_llm_judgement_logs","mode":"list","cachedResultName":"n8n_llm_judgement_logs"},"columns":{"mappingMode":"defineBelow","value":{"judge_n8n_execution_id":"={{ $execution.id }}","logged_at":"={{ $now }}","workflow_id":"={{ $workflow.id }}","judgement_data":"={{ $json.data }}","status":"={{ $('Set report run_id to be judged').item.json.status }}","report_n8n_execution_id":"={{ $('Setup basic variables').item.json.n8n_execution_id }}","query":"={{ $('Setup basic variables').item.json.query }}","material_category":"={{ $('Setup basic variables').item.json.material_category }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"judge_n8n_execution_id","displayName":"judge_n8n_execution_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"report_n8n_execution_id","displayName":"report_n8n_execution_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"workflow_id","displayName":"workflow_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"judgement_data","displayName":"judgement_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"logged_at","displayName":"logged_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"material_category","displayName":"material_category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1328,-576],"id":"9e10bb1d-850d-427a-9c51-0835230aae0d","name":"Insert rows in a table","credentials":{"postgres":{"id":"wDN6mCrac5JhvuiP","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1584,-576],"id":"bb07bb8e-4da5-4ada-83a8-45e556ac7d0f","name":"When clicking ‘Execute workflow’"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[48,-608],"id":"2fc32a53-91db-4f0a-8f50-64b8768db072","name":"Merge1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"judges","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[624,-576],"id":"af548263-0ca4-40cc-be63-e2954b0d26cd","name":"Aggregate"},{"parameters":{"workflowId":{"__rl":true,"value":"CL0nQd1ao0gUXnh5","mode":"list","cachedResultUrl":"/workflow/CL0nQd1ao0gUXnh5","cachedResultName":"Template Judgment Sub-workflow (3 Models)"},"workflowInputs":{"mappingMode":"defineBelow","value":{"report_text":"={{ $('Setup basic variables').item.json.report_text }}","material_category":"={{ $('Setup basic variables').item.json.material_category }}","query":"={{ $('Setup basic variables').item.json.query }}","additional_instruction":"={{ $('Setup basic variables').item.json.additional_instruction }}","system_prompt":"={{ $json.system_prompt }}","dimension":"={{ $json.dimension }}","user_prompt":"={{ $('Setup basic variables').item.json.user_prompt }}"},"matchingColumns":[],"schema":[{"id":"report_text","displayName":"report_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"material_category","displayName":"material_category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_prompt","displayName":"user_prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"additional_instruction","displayName":"additional_instruction","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"system_prompt","displayName":"system_prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"dimension","displayName":"dimension","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[368,-576],"id":"805e00da-91e8-4110-81ed-5a4f10b350a3","name":"Call judge template"},{"parameters":{"assignments":{"assignments":[{"id":"8904c573-cd5f-4bf3-b49b-603a4bb36dbf","name":"system_prompt","value":"You are an expert financial analyst and auditor. Your primary task is to critically evaluate the Reliability of a given financial report.  Your entire analysis must focus on this core question: Does this report accurately state items based on real data found in official SEC filings?  When performing your evaluation, adhere to the following directives:  Assume the Role of a Skeptical Judge: Approach the report with professional skepticism. Do not accept any data, calculation, or description at face value.  Verify, Don't Trust: Your objective is to verify, not just read. You must cross-reference every significant figure, data point, and qualitative statement against the cited SEC filings (e.g., 10-K, 10-Q, 8-K).  Assess Accuracy:  Data: Is the information (e.g., revenue, net income, debt levels) transcribed exactly as it appears in the SEC filing?  Calculations: Are all derived metrics (e.g., margins, ratios, growth rates) calculated correctly based on the sourced data?  Evaluate Presentation and Referencing:  Clarity: Is the information presented clearly and unambiguously?  Referencing: Is each piece of data or key statement clearly attributed to its specific source? Vague references are a red flag.  Final Judgment: Conclude your analysis with a clear judgment on the report's reliability. Identify any and all discrepancies, misrepresentations, or calculation errors, explaining why they matter and how they impact the trustworthiness of the report.","type":"string"},{"id":"787dca91-c1d2-4433-9157-e145ba431ef1","name":"dimension","value":"reliability","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-736],"id":"a9daec33-b25e-4119-bf59-616a9cb67916","name":"Setup model prompt reliability"},{"parameters":{"assignments":{"assignments":[{"id":"8904c573-cd5f-4bf3-b49b-603a4bb36dbf","name":"system_prompt","value":"You are an expert financial analyst and forensic accountant, specializing in the critical evaluation of SEC filings (like 10-Ks and 10-Qs) for compliance and disclosure integrity.  Your primary function is to act as a professional judge, evaluating the Completeness of these reports. Your analysis is not about whether the numbers are accurate, but whether the report contains all the information and disclosures required by SEC regulations and accounting standards (e.g., U.S. GAAP).  Your goal is to identify material omissions—any missing information, positive or negative, that could mislead an investor or prevent them from making a fully informed decision.  When a user provides a financial report, section, or specific query, you must perform a \"Completeness Audit\" by executing the following steps:  1. Verify Structural Completeness:  Check for the presence of all statutorily required sections:  Business Description  Risk Factors  Management's Discussion and Analysis (MD&A)  All four Audited Financial Statements (Income Statement, Balance Sheet, Cash Flow, Stockholders' Equity)  Notes to the Financial Statements  Auditor's Report  CEO/CFO Certifications (e.g., Exhibits 31 & 32)  2. Scrutinize Disclosure Depth (The Core Analysis):  Notes to Financial Statements: This is your primary focus. You must assess if every major line item on the financial statements is fully explained.  Revenue Recognition: Is the \"how\" and \"when\" of revenue recognition detailed and clear?  Debt & Liabilities: Are all interest rates, maturity dates, and—most importantly—covenants explicitly disclosed?  Contingent Liabilities: Are all significant lawsuits, regulatory actions, or other potential liabilities clearly described, with estimated impacts if possible?  Other Key Areas: Check for complete disclosures on goodwill, intangible assets, pensions, leases, and segment reporting.  Risk Factors & MD&A:  Are the \"Risk Factors\" specific to the company, or are they boilerplate?  Does the MD&A and Risk Factors section discuss known, current industry-wide risks (e.g., supply chain issues, new regulations, commodity price changes)? An omission of a well-known risk is a major red flag.  Peer Comparison (Contextual Check):  If possible, compare the report's level of disclosure to its close competitors. Do competitors disclose information (e.g., geographic revenue breakdown, key operational metrics) that this company omits? Flag this as a potential completeness issue.  Auditor's Opinion:  Locate the \"Report of Independent Registered Public Accounting Firm.\" Immediately flag any opinion that is not \"unqualified.\" A \"qualified\" or \"adverse\" opinion can directly signal that the company failed to provide complete information.  3. Report Your Findings (The Judgment):  Do not just list what is present. Your value is in identifying what is missing.  When you identify a potential omission, you must explain Why It Matters (the \"So What?\").  Structure your analysis as follows:  Overall Completeness Judgment: (e.g., \"Appears Complete,\" \"Substantially Complete with Minor Deficiencies,\" or \"Incomplete, Contains Potential Material Omissions.\")  Key Findings & Omissions: (A bulleted list of what is missing or insufficiently detailed.)  Implications of Omissions: (For each key finding, explain the potential consequence. Use phrases like: \"This omission...  ...could mislead investors by hiding poor performance in a key segment.\"  ...obscures the company's true risk profile related to its debt.\"  ...impairs the ability to build an accurate financial forecast.\"  ...may signal weak internal controls over financial reporting.\"  ...could create potential legal or regulatory exposure.\")  Your tone must be professional, skeptical, analytical, and precise. You are the investor's first line of defense against the \"half-truth\" that is more deceptive than an outright lie.","type":"string"},{"id":"787dca91-c1d2-4433-9157-e145ba431ef1","name":"dimension","value":"completence","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-592],"id":"e2516f02-66df-41dd-9b9c-9a6e84adbd8b","name":"Setup model prompt completence"},{"parameters":{"assignments":{"assignments":[{"id":"8904c573-cd5f-4bf3-b49b-603a4bb36dbf","name":"system_prompt","value":"You are an expert financial analyst and senior auditor. Your sole function is to act as a professional judge evaluating the Understandability of financial reports.  You will be given excerpts from a financial report. Your task is to critically analyze these excerpts only on their clarity, logic, and transparency.  Your Target Audience Assumption: You must assume the report's intended reader is not a layperson, but \"someone with a reasonable knowledge of business and finance.\" Your judgment should be based on whether it is clear to this specific audience.  Core Evaluation Criteria:  Clarity and Conciseness:  Is the information presented in a direct, clear, and unambiguous way?  Is the language concise, or is it overly verbose and filled with \"filler\" that adds no meaning?  Logical Structure:  Is the information presented in a logical flow that is easy to follow?  Are key figures and explanations easy to find, or are they \"buried\"?  Jargon and Complexity:  Does the report use \"confusing jargon\" where simpler language would suffice?  When complex, technical terms (e.g., specific accounting standards) are used, are they necessary and appropriate for the context?  Critically assess: Is the complexity necessary to explain a complex business, or does it feel intentional (i.e., designed to confuse or obscure)?  Transparency (The \"Red Flag\" Test):  Based on the language and presentation, does this section read like a good-faith effort at transparent communication?  Do you detect any signs of \"intentionally complex\" phrasing that could be an attempt to \"hide poor performance or questionable practices\"?  Your Response Format:  You must provide a professional, structured judgment.  Overall Verdict: Start with a high-level summary judgment (e.g., \"Highly Understandable,\" \"Moderately Understandable,\" or \"Poor - Lacks Clarity\").  Detailed Rationale: Provide a detailed analysis explaining why you reached your verdict.  Specific Examples: Quote specific phrases or sentences from the text to support your claims, identifying them as either positive (good clarity) or negative (confusing, jargonistic, or a \"red flag\").  Red Flags: Explicitly call out any sections that seem intentionally misleading or confusing.  Constraint: Do NOT analyze the financial performance itself (e.g., \"profits are down,\" \"this is a bad investment\"). Your analysis must be strictly limited to the presentation and understandability of the information.  You can use \"RAG financial information query\" to retrieve any SEC filing information for validation or reference.","type":"string"},{"id":"787dca91-c1d2-4433-9157-e145ba431ef1","name":"dimension","value":"understandability","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-448],"id":"f829ed14-d909-4ea0-86d2-0a3aa4081b70","name":"Setup model prompt understandability"},{"parameters":{"assignments":{"assignments":[{"id":"8904c573-cd5f-4bf3-b49b-603a4bb36dbf","name":"system_prompt","value":"You are an expert financial analyst and accounting professional, tasked with serving as a \"Professional Judge\" of financial reporting quality. Your exclusive focus is on the qualitative characteristic of Relevance.  Your core mandate is to determine: Is the information presented capable of making a difference in the decisions of a capital provider (e.g., an investor, lender, or other creditor)?  When a user provides you with a financial report, a specific section, or a data point, you must rigorously assess it against the following two key components of Relevance:  Predictive Value: Does this information help users form, support, or adjust their expectations about future outcomes? Specifically, does it provide a basis for predicting future cash flows, earnings, or overall financial performance?  Confirmatory Value: Does this information provide feedback that helps users confirm or correct their prior evaluations or expectations?  Your Operational Guidelines:  Filter for Materiality: Your analysis of Relevance must include the concept of materiality. Information is only relevant if it is \"material\"—meaning its omission, misstatement, or obscurity could reasonably be expected to influence the decisions of a primary user. You must filter out information that is trivial.  Assess Timeliness: You must consider the timeliness of the information. Information that is outdated is not capable of making a difference in a current decision and therefore lacks relevance, no matter how accurate it may be.  Focus on Decision-Usefulness: Always link your analysis back to a specific decision. If the information does not relate to the financial decisions a user needs to make (e.g., whether to invest, lend money, or assess management's performance), you must judge it as \"Not Relevant.\"  Deliver a Clear Judgment: Your response should be structured as a formal judgment.  State Your Verdict: Begin with a clear, direct assessment (e.g., \"This disclosure is Highly Relevant,\" \"This information Lacks Relevance\").  Provide Rationale: Justify your verdict by explicitly referencing its predictive value, confirmatory value (or lack thereof), and materiality.  Be Specific: Clearly state what the information helps to predict (e.g., \"...it has predictive value for future revenue growth\") or what it helps to confirm (e.g., \"...it confirms the market's prior assumption of declining margins\").  You will not assess other qualitative characteristics (like Faithful Representation, Comparability, or Verifiability) unless they are explicitly requested after your initial judgment on Relevance.  You can use \"RAG financial information query\" to retrieve any SEC filing information for validation or reference.","type":"string"},{"id":"787dca91-c1d2-4433-9157-e145ba431ef1","name":"dimension","value":"relevance","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,-304],"id":"59d92b97-c3b6-4fb4-8923-a7bf264b8bb0","name":"Setup model prompt relevance"},{"parameters":{"assignments":{"assignments":[{"id":"b8e7e1ff-a67b-4f89-a792-ef4154bb6c89","name":"report_text","value":"={{ $json.report_text }}","type":"string"},{"id":"5279e151-e0f7-4648-907a-fa6f11ab9c6b","name":"material_category","value":"={{ $json.material_category }}","type":"string"},{"id":"b9863338-0fd2-469f-9ae7-a4718540103c","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"04924ae2-6d98-4379-bdac-a2f3e38e5d5e","name":"user_prompt","value":"=I have a plain text financial report that was generated by an LLM. The report is structured using three specific sections: `[QUERY]`, `[OUTPUT]`.  For each token, describe: 1.  [QUERY]: The question this report trying to answer. 2. [OUTPUT]: The report content.  \n\nplain text financial report: \n[QUERY]\n{{ $json.query }}\n[OUTPUT]\n{{ $json.output_text }}","type":"string"},{"id":"ea00e286-107b-40dc-aeb5-c440b69c7299","name":"n8n_execution_id","value":"={{ $json.n8n_execution_id }}","type":"string"},{"id":"3b3e9a76-924a-4e96-bcca-327f0b3ad009","name":"additional_instruction","value":"=Any judgement should be based on a solid validation from the response of \"RAG financial information query\" tool if relate to SEC filing information. You should breakdown the issues and form corresponding queries for your judgements.\n\nYou can use \"RAG financial information query\" to retrieve any SEC filing information for validation or reference.\n\nYou should also consider timeline if it matters.\nCurrent time: {{ $now }}\n\nYou should rate the report from 0~100\n- 90-100: Excellent , no errors\n- 75-89: Good , minor issues\n- 60-74: Acceptable , some concerns\n- 40-59: Poor , significant errors\n- 0-39: Unacceptable , major errors\n\nCurrently available SEC filings: \n10-K : 2022, 2023, 2024\n10-Q : 2025Q1, 2025Q2","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,-576],"id":"b60eb204-4ca5-4f31-9b83-001a9d98a510","name":"Setup basic variables"},{"parameters":{"assignments":{"assignments":[{"id":"7f2e3034-d408-4689-86d6-e01f3b5fbbab","name":"run_id","value":"914","type":"string"},{"id":"b7c43ad5-663a-4991-9939-5abf177d519e","name":"status","value":"test","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1344,-576],"id":"8b009d4f-01e2-4519-b33a-fb674422ce18","name":"Set report run_id to be judged"},{"parameters":{"url":"=http://llmjudges:5000/llm-judges/report/{{ $json.run_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-992,-576],"id":"d8eab1e0-da28-4037-b325-7dce58d6af67","name":"Call py_server to get parsed report"},{"parameters":{"content":"## Get the reports judged by LLM\n1. setup the report run_id\n2. click the manual trigger","height":736,"width":3424},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1824,-800],"id":"20342775-12f3-464c-bad4-c86f0f8ea4d3","name":"Sticky Note"}],"connections":{"Calculate Final Score & Report":{"main":[[{"node":"Format Final Response","type":"main","index":0}]]},"Format Final Response":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set report run_id to be judged","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Call judge template","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Calculate Final Score & Report","type":"main","index":0}]]},"Call judge template":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Setup model prompt reliability":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Setup model prompt completence":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Setup model prompt understandability":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Setup model prompt relevance":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Setup basic variables":{"main":[[{"node":"Setup model prompt reliability","type":"main","index":0},{"node":"Setup model prompt completence","type":"main","index":0},{"node":"Setup model prompt understandability","type":"main","index":0},{"node":"Setup model prompt relevance","type":"main","index":0}]]},"Set report run_id to be judged":{"main":[[{"node":"Call py_server to get parsed report","type":"main","index":0}]]},"Call py_server to get parsed report":{"main":[[{"node":"Setup basic variables","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bfc12c89-e901-42bc-ad2a-24b7fa3767a4","versionCounter":12,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-11-12T16:11:53.237Z","createdAt":"2025-11-12T16:11:53.237Z","role":"workflow:owner","workflowId":"xRUMTh42oayIwOIz","projectId":"Lloh3DD3VFIwy1bh","project":{"updatedAt":"2025-09-29T15:09:21.924Z","createdAt":"2025-09-28T10:40:04.982Z","id":"Lloh3DD3VFIwy1bh","name":"TZU HSUAN LIN_HX16 <tw40210@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-04T15:21:52.173Z","createdAt":"2025-11-12T15:39:52.549Z","id":"CL0nQd1ao0gUXnh5","name":"Template Judgment Sub-workflow (3 Models)","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"dimension\": { \"type\": \"string\" },\n    \"score\": { \"type\": \"number\", \"minimum\": 0, \"maximum\": 100 },\n    \"reasoning\": { \"type\": \"string\" },\n    \"strengths\": { \n      \"type\": \"array\", \n      \"items\": { \"type\": \"string\" }\n    },\n    \"weaknesses\": { \n      \"type\": \"array\", \n      \"items\": { \"type\": \"string\" }\n    }\n  },\n  \"required\": [\"dimension\", \"score\", \"reasoning\", \"strengths\", \"weaknesses\"]\n}","autoFix":true},"id":"e597629e-b792-4891-9ab0-e7df6ffbe0b5","name":"Structured Output - Model 2","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.1,"position":[192,256]},{"parameters":{"jsonSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"dimension\": { \"type\": \"string\" },\n    \"score\": { \"type\": \"number\", \"minimum\": 0, \"maximum\": 100 },\n    \"reasoning\": { \"type\": \"string\" },\n    \"strengths\": { \n      \"type\": \"array\", \n      \"items\": { \"type\": \"string\" }\n    },\n    \"weaknesses\": { \n      \"type\": \"array\", \n      \"items\": { \"type\": \"string\" }\n    }\n  },\n  \"required\": [\"dimension\", \"score\", \"reasoning\", \"strengths\", \"weaknesses\"]\n}","autoFix":true},"id":"1c0d510a-7b50-41d8-a5ae-6c17863cf3cb","name":"Structured Output - Model 3","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.1,"position":[240,608]},{"parameters":{},"id":"d2ecd5b9-1ff7-4a6f-8cc5-7106c6e1bcd5","name":"Merge All Judgments","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[800,224]},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.user_prompt }}","hasOutputParser":true,"options":{"systemMessage":"={{ $('When Executed by Another Workflow').item.json.system_prompt }}\n\nadditional_instruction:\n{{ $('When Executed by Another Workflow').item.json.additional_instruction }}","maxIterations":15}},"id":"ceb3950d-f18a-45d0-bd95-8cf3bfd8f8f9","name":"Agent - Model 2 (Deepseek exp3.2)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-80,-64],"retryOnFail":true},{"parameters":{"model":"deepseek/deepseek-v3.2-exp","options":{"responseFormat":"json_object"}},"id":"d104d5a4-4ab7-43c1-962c-0cb6588b621c","name":"OpenRouter Model 2 - Deepseek exp3.2","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-176,144],"credentials":{"openRouterApi":{"id":"QDODmP31diJ9me6R","name":"tw40210qq"}}},{"parameters":{"model":"deepseek/deepseek-v3.2-exp","options":{"responseFormat":"json_object"}},"id":"13502014-8f34-4ab0-ae00-1d531ce399a2","name":"OpenRouter Model 2 - Deepseek exp3.2 1","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[432,384],"credentials":{"openRouterApi":{"id":"QDODmP31diJ9me6R","name":"tw40210qq"}}},{"parameters":{"jsCode":"function findMedian(arr) {\n    arr.sort((a, b) => a - b);\n    const middleIndex = Math.floor(arr.length / 2);\n\n    if (arr.length % 2 === 0) {\n        return (arr[middleIndex - 1] + arr[middleIndex]) / 2;\n    } else {\n        return arr[middleIndex];\n    }\n}\n\n// Aggregate judgments from 3 different models\nconst judgments = [];\nconst models = $('Setup additional variables').first().json.models\n\n// Process each model's output\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  \n  try {\n    // Extract judgment data from different possible output formats\n    let judgmentData;\n    \n    if (item.json.output) {\n      judgmentData = item.json.output;\n    } else if (item.json.json) {\n      judgmentData = item.json.json;\n    } else {\n      judgmentData = item.json;\n    }\n    \n    // Validate and extract score\n    const score = parseFloat(judgmentData.score);\n    if (!isNaN(score) && score >= 0 && score <= 100) {\n      judgments.push({\n        model: models[i],\n        dimension: judgmentData.dimension || '',\n        score: score,\n        reasoning: judgmentData.reasoning || '',\n        strengths: judgmentData.strengths || [],\n        weaknesses: judgmentData.weaknesses || []\n      });\n    }\n  } catch (error) {\n    console.error(`Error processing judgment ${i + 1}:`, error);\n  }\n}\n\n// Check if we have valid judgments\nif (judgments.length === 0) {\n  throw new Error('No valid judgments received from any model');\n}\n\n// Calculate aggregated statistics\nconst scores = judgments.map(j => j.score);\nconst averageScore = scores.reduce((a, b) => a + b, 0) / scores.length;\nconst minScore = Math.min(...scores);\nconst maxScore = Math.max(...scores);\nconst medianScore = findMedian(scores);\n\nconsole.log(scores)\nconsole.log(medianScore)\n\n\n\n// Calculate standard deviation\nconst variance = scores.reduce((acc, score) => acc + Math.pow(score - averageScore, 2), 0) / scores.length;\nconst standardDeviation = Math.sqrt(variance);\n\n// Determine consensus level\nlet consensusLevel;\nif (standardDeviation <= 5) {\n  consensusLevel = 'HIGH';\n} else if (standardDeviation <= 10) {\n  consensusLevel = 'MEDIUM';\n} else {\n  consensusLevel = 'LOW';\n}\n\n// Determine overall quality rating\nlet qualityRating, isGood;\nif (averageScore >= 85) {\n  qualityRating = 'EXCELLENT';\n  isGood = true;\n} else if (averageScore >= 70) {\n  qualityRating = 'GOOD';\n  isGood = true;\n} else if (averageScore >= 55) {\n  qualityRating = 'ACCEPTABLE';\n  isGood = false;\n} else if (averageScore >= 30) {\n  qualityRating = 'POOR';\n  isGood = false;\n} else {\n  qualityRating = 'UNACCEPTABLE';\n  isGood = false;\n}\n\n// Compile all strengths and weaknesses\nconst allStrengths = judgments.flatMap(j => j.strengths).filter(s => s);\nconst allWeaknesses = judgments.flatMap(j => j.weaknesses).filter(w => w);\n\n// Find most common strengths and weaknesses\nconst strengthCounts = {};\nconst weaknessCounts = {};\n\nallStrengths.forEach(strength => {\n  strengthCounts[strength] = (strengthCounts[strength] || 0) + 1;\n});\n\nallWeaknesses.forEach(weakness => {\n  weaknessCounts[weakness] = (weaknessCounts[weakness] || 0) + 1;\n});\n\n// Get top strengths and weaknesses (mentioned by multiple models)\nconst topStrengths = Object.entries(strengthCounts)\n  .filter(([_, count]) => count > 1)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([strength, count]) => ({ strength, mentions: count }));\n\nconst topWeaknesses = Object.entries(weaknessCounts)\n  .filter(([_, count]) => count > 1)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([weakness, count]) => ({ weakness, mentions: count }));\n\n// Generate final aggregated report\nreturn {\n  json: {\n    report_id: `judgment_${Date.now()}`,\n    timestamp: new Date().toISOString(),\n    \n    // Input context\n    input_context: {\n      material_category: $('When Executed by Another Workflow').first().json.material_category,\n      query: $('When Executed by Another Workflow').first().json.query,\n      report_length: $('When Executed by Another Workflow').first().json.report_text?.length || 0\n    },\n    \n    // Aggregated assessment\n    aggregated_assessment: {\n      is_good: isGood,\n      quality_rating: qualityRating,\n      average_score: Math.round(averageScore * 100) / 100,\n      median_score: Math.round(medianScore * 100) / 100,\n      score_range: {\n        min: Math.round(minScore * 100) / 100,\n        max: Math.round(maxScore * 100) / 100\n      },\n      standard_deviation: Math.round(standardDeviation * 100) / 100,\n      consensus_level: consensusLevel\n    },\n    \n    // Individual model judgments\n    individual_judgments: judgments,\n    \n    // Consensus insights\n    consensus_insights: {\n      models_agreed: judgments.length,\n      score_variance: Math.round(standardDeviation * 100) / 100,\n      top_strengths: topStrengths,\n      top_weaknesses: topWeaknesses,\n      unanimous_issues: topWeaknesses.filter(w => w.mentions === judgments.length),\n      unanimous_strengths: topStrengths.filter(s => s.mentions === judgments.length)\n    },\n    \n    // Summary and recommendation\n    summary: {\n      total_models: judgments.length,\n      models_used: $('When Executed by Another Workflow').first().json.models,\n      evaluation_complete: true,\n      recommendation: isGood \n        ? `This financial report shows ${qualityRating.toLowerCase()} accuracy with ${consensusLevel.toLowerCase()} consensus across ${judgments.length} models.`\n        : `This financial report requires improvement. ${consensusLevel} consensus indicates ${qualityRating.toLowerCase()} accuracy across ${judgments.length} models.`\n    }\n  }\n};"},"id":"3868e466-493b-45d5-a0fa-8ee175eec5c1","name":"Aggregate Judgments","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,224]},{"parameters":{"jsCode":"// Format the final response for the sub-workflow output\nconst result = $input.item.json;\n\nreturn {\n  json: {\n    success: true,\n    data: result,\n    message: `Judgment complete using ${result.summary.total_models} models. Overall rating: ${result.aggregated_assessment.quality_rating} (${result.aggregated_assessment.is_good ? 'GOOD' : 'NEEDS IMPROVEMENT'}) with ${result.aggregated_assessment.consensus_level.toLowerCase()} consensus.`\n  }\n};"},"id":"d546d27c-c70e-4183-8b39-d1cadcc72f0b","name":"Format Final Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,224]},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Call this tool to look up standard financial report related information released by companies like 10-K, 10-Q.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":5,"options":{"metadata":{"metadataValues":[{"name":"material_category","value":"={{ $json.material_category }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[880,592],"id":"9dcc84fb-0733-4830-b66e-0acc7f10ace5","name":"RAG financial information query","credentials":{"supabaseApi":{"id":"gXuPBb7nr1uPzksH","name":"tw40210"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[832,864],"id":"26a0ed72-ba9c-4c31-b7d2-522504f74f95","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"R4UPUPPFB2QaRCy5","name":"tw40210"}}},{"parameters":{"workflowInputs":{"values":[{"name":"report_text"},{"name":"material_category"},{"name":"query"},{"name":"user_prompt"},{"name":"additional_instruction"},{"name":"system_prompt"},{"name":"dimension"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1056,208],"id":"aae543c2-bf39-4bff-b285-3f162ae531e9","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ef861181-d264-4f6c-90b1-1e35a0962ecb","name":"models","value":"[         'Deepseek 3.2',         'polaris'       ]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,208],"id":"65b5e618-bafd-4d5d-ba7d-cffdec84e65e","name":"Setup additional variables"},{"parameters":{"model":"deepseek/deepseek-v3.1-terminus","options":{}},"id":"1b5bd376-186a-457e-b305-4d70d38197ca","name":"OpenRouter Model 3 - deepseek 3.1","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-128,640],"credentials":{"openRouterApi":{"id":"QDODmP31diJ9me6R","name":"tw40210qq"}}},{"parameters":{"model":"deepseek/deepseek-v3.1-terminus","options":{}},"id":"53afcc45-75c0-4ff0-9c19-bb77fea1a280","name":"OpenRouter Model 3 - deepseek 3.1 1","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[320,800],"credentials":{"openRouterApi":{"id":"QDODmP31diJ9me6R","name":"tw40210qq"}}},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.user_prompt }}\n","hasOutputParser":true,"options":{"systemMessage":"={{ $('When Executed by Another Workflow').item.json.system_prompt }}\n\nadditional_instruction:\n{{ $('When Executed by Another Workflow').item.json.additional_instruction }}","maxIterations":15}},"id":"61baae2d-ae4a-47b0-b663-e07059e12f6a","name":"Agent - Model 2 (deepseek 3.1)","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-112,416],"retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"783d29d0-4bde-43d2-ada1-7a987d619786","name":"data","value":"={{ $json.data }}","type":"object"},{"id":"f57a9fd3-5696-44d1-862f-247462c5950c","name":"message","value":"={{ $json.message }}","type":"string"},{"id":"315ab65f-c4ad-4276-a03f-2b7c243f239c","name":"success","value":"={{ $json.success }}","type":"boolean"},{"id":"f7d7445b-b4a9-4f00-8d60-e91699966ead","name":"sub_workflow_type","value":"={{ $('When Executed by Another Workflow').first().json.dimension }}","type":"string"},{"id":"a8dc1eee-5318-4b65-9a82-fa2ca2636ead","name":"models","value":"={{ $('Setup additional variables').first().json.models }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,224],"id":"647774fd-42cc-4230-b817-3e08230e84be","name":"Collect data and form response"},{"parameters":{"content":"## Sub-workflow called by upper stream\n","height":1168,"width":3184},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1216,-128],"id":"210be3d3-ddaf-4b0f-bc87-d5bbedcf9a1f","name":"Sticky Note"}],"connections":{"Structured Output - Model 2":{"ai_outputParser":[[{"node":"Agent - Model 2 (Deepseek exp3.2)","type":"ai_outputParser","index":0}]]},"Structured Output - Model 3":{"ai_outputParser":[[{"node":"Agent - Model 2 (deepseek 3.1)","type":"ai_outputParser","index":0}]]},"Merge All Judgments":{"main":[[{"node":"Aggregate Judgments","type":"main","index":0}]]},"Agent - Model 2 (Deepseek exp3.2)":{"main":[[{"node":"Merge All Judgments","type":"main","index":0}]]},"OpenRouter Model 2 - Deepseek exp3.2":{"ai_languageModel":[[{"node":"Agent - Model 2 (Deepseek exp3.2)","type":"ai_languageModel","index":0}]]},"OpenRouter Model 2 - Deepseek exp3.2 1":{"ai_languageModel":[[{"node":"Structured Output - Model 2","type":"ai_languageModel","index":0}]]},"Aggregate Judgments":{"main":[[{"node":"Format Final Output","type":"main","index":0}]]},"Format Final Output":{"main":[[{"node":"Collect data and form response","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"RAG financial information query","type":"ai_embedding","index":0}]]},"RAG financial information query":{"ai_tool":[[{"node":"Agent - Model 2 (deepseek 3.1)","type":"ai_tool","index":0},{"node":"Agent - Model 2 (Deepseek exp3.2)","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Setup additional variables","type":"main","index":0}]]},"Setup additional variables":{"main":[[{"node":"Agent - Model 2 (Deepseek exp3.2)","type":"main","index":0},{"node":"Agent - Model 2 (deepseek 3.1)","type":"main","index":0}]]},"OpenRouter Model 3 - deepseek 3.1":{"ai_languageModel":[[{"node":"Agent - Model 2 (deepseek 3.1)","type":"ai_languageModel","index":0}]]},"OpenRouter Model 3 - deepseek 3.1 1":{"ai_languageModel":[[{"node":"Structured Output - Model 3","type":"ai_languageModel","index":0}]]},"Agent - Model 2 (deepseek 3.1)":{"main":[[{"node":"Merge All Judgments","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"01c45703-28c8-41a8-a670-ff6343e510ab","versionCounter":8,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-12T15:39:52.549Z","createdAt":"2025-11-12T15:39:52.549Z","role":"workflow:owner","workflowId":"CL0nQd1ao0gUXnh5","projectId":"Lloh3DD3VFIwy1bh","project":{"updatedAt":"2025-09-29T15:09:21.924Z","createdAt":"2025-09-28T10:40:04.982Z","id":"Lloh3DD3VFIwy1bh","name":"TZU HSUAN LIN_HX16 <tw40210@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-01T16:26:07.203Z","createdAt":"2025-11-25T15:30:46.960Z","id":"Mo4OfVKxd9zRLy3l","name":"RAG_preprocess","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"Wq8pU8eySs6HmbGo","mode":"list","cachedResultUrl":"/workflow/Wq8pU8eySs6HmbGo","cachedResultName":"RAG"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"batch_results","displayName":"batch_results","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"material_type","displayName":"material_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"material_category","displayName":"material_category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"total_batches","displayName":"total_batches","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[144,192],"id":"9787e1f5-973a-45e8-9952-11284a1ef24a","name":"Call 'RAG'"},{"parameters":{"workflowInputs":{"values":[{"name":"batch_results","type":"array"},{"name":"file_name"},{"name":"material_type"},{"name":"material_category"},{"name":"total_batches"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-624,192],"id":"26a1449c-043a-4409-8497-dad3244905f1","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"Mo4OfVKxd9zRLy3l","mode":"list","cachedResultUrl":"/workflow/Mo4OfVKxd9zRLy3l","cachedResultName":"RAG_preprocess"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"batch_results","displayName":"batch_results","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"material_type","displayName":"material_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"material_category","displayName":"material_category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"total_batches","displayName":"total_batches","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[176,-240],"id":"1c23d136-2d8e-4537-a98a-f8797faceba1","name":"Call RAG_preprocess"},{"parameters":{"fieldToSplitOut":"batch_results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-384,192],"id":"9060607a-07c2-47b4-88a2-20c1a18746d6","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-720,-240],"id":"b79aed82-7192-46a0-9474-511182b8de2e","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"58bc6caf-fd54-41cb-8712-fe1cc0d758a7","name":"pdf_file_material_category","value":"[\"TSM\",\"META\"]","type":"array"},{"id":"6cf33071-61f8-4db0-8a3c-73c7b1080b9f","name":"material_type","value":"[\"20-F\",\"10-K\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-240],"id":"1905666c-d7ee-4e73-aec4-6329ce3c738b","name":"Set company tickers & report types"},{"parameters":{"content":"## Sub-workflow to be called in this workflow\n","height":320,"width":1584},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-912,96],"id":"e8fb1292-7d54-432a-ba3d-f236448273ec","name":"Sticky Note"},{"parameters":{"content":"## Trigger the RAG upload\n1. setup company tickers to be uploaded\n\nWorkflow:\nManual trigger -> Subworkflow(RAG_preprocess) ->  Subworkflow(RAG)\n*note: We need the sub-workflows to handle mutiple layers of loop.\n","height":448,"width":1584},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-912,-448],"id":"7f2879aa-be1d-4f20-b3f2-43c62930148e","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"=http://llmjudges:5000/llm-judges/pdf/preprocess","sendBody":true,"bodyParameters":{"parameters":[{"name":"pdf_file_material_category","value":"={{ $json.pdf_file_material_category }}"},{"name":"material_type","value":"={{ $json.material_type }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-256,-240],"id":"188990b0-9e66-4695-94af-0dccd524d63f","name":"Call pyserver to get materials"},{"parameters":{"assignments":{"assignments":[{"id":"c09f0eff-891f-4a9f-8a52-f5736abdfa3c","name":"batch_results","value":"={{ $json.batch_results }}","type":"array"},{"id":"e1283182-f701-46f2-aa95-1f6366ff8a92","name":"file_name","value":"={{ $json.file_name }}","type":"string"},{"id":"a131a796-9ae3-4b9e-9c37-7536017ed9de","name":"material_type","value":"={{ $json.material_type }}","type":"string"},{"id":"cf0aa09e-9b12-455b-8dd4-cfa8936b3f6f","name":"material_category","value":"={{ $json.material_category }}","type":"string"},{"id":"1f7e1577-d56f-4589-a443-0c4e6be27f8b","name":"total_chunks","value":"={{ $json.total_chunks }}","type":"number"},{"id":"60c8ffce-4fad-4520-9e3b-604d1b3cd5a1","name":"total_batches","value":"={{ $json.total_batches }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,-240],"id":"1bc19917-668c-4ec8-adc7-1bd69105efe3","name":"Setup basic variables"},{"parameters":{"assignments":{"assignments":[{"id":"52395271-a4e7-4732-a697-f9fd5b4d6f96","name":"file_name","value":"={{ $('When Executed by Another Workflow').item.json.file_name }}","type":"string"},{"id":"7b3803f0-4e5f-49dd-9f87-d1b76e6428be","name":"material_type","value":"={{ $('When Executed by Another Workflow').item.json.material_type }}","type":"string"},{"id":"ad883458-8980-4b07-943d-94ae5fd0cb87","name":"material_category","value":"={{ $('When Executed by Another Workflow').item.json.material_category }}","type":"string"},{"id":"e9b82b3a-6265-4544-81d7-1af5b16090b1","name":"total_batches","value":"={{ $('When Executed by Another Workflow').item.json.total_batches }}","type":"string"},{"id":"7522ff7f-7d36-4f7e-ab47-3e223ff9f6ef","name":"chunks","value":"={{ $json.chunks }}","type":"string"},{"id":"94167f6b-881f-4c82-856c-438042537697","name":"batch_index","value":"={{ $json.batch_index }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,192],"id":"12607cef-9630-4eb8-a680-c4ac4daf167f","name":"Setup basic variables 1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Setup basic variables 1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set company tickers & report types","type":"main","index":0}]]},"Set company tickers & report types":{"main":[[{"node":"Call pyserver to get materials","type":"main","index":0}]]},"Call pyserver to get materials":{"main":[[{"node":"Setup basic variables","type":"main","index":0}]]},"Setup basic variables":{"main":[[{"node":"Call RAG_preprocess","type":"main","index":0}]]},"Setup basic variables 1":{"main":[[{"node":"Call 'RAG'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4e7731ac-9921-4a73-89b5-d05d250eda3a","versionCounter":14,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-25T15:30:46.960Z","createdAt":"2025-11-25T15:30:46.960Z","role":"workflow:owner","workflowId":"Mo4OfVKxd9zRLy3l","projectId":"Lloh3DD3VFIwy1bh","project":{"updatedAt":"2025-09-29T15:09:21.924Z","createdAt":"2025-09-28T10:40:04.982Z","id":"Lloh3DD3VFIwy1bh","name":"TZU HSUAN LIN_HX16 <tw40210@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-04T11:36:02.093Z","createdAt":"2025-10-14T14:14:57.993Z","id":"dUiqaym3kFxeIYxr","name":"Financial_query_RAG","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Setup query text & report_groups').item.json.query_text }}","options":{"systemMessage":"=1. ROLE AND CORE MISSION\n\nYou are a specialized Financial Analyst Agent. Your sole purpose is to conduct a deep, objective, and factual analysis of a company's SEC filings (such as 10-Ks or 10-Qs) based on a user's request. You will produce a comprehensive, well-structured report.\n\n2. CORE TOOL\n\nYou have access to a single tool: RAG_financial_query.\n\nTool Function: This tool retrieves specific, context-rich information, data, and narrative text from a company's SEC filings for the past several fiscal years.\n\nYour Task: Your primary job is to act as an intelligent \"orchestrator\" for this tool. You must break down a complex analysis request into a logical series of precise, targeted sub-queries for the RAG_financial_query tool.\n\n3. CRITICAL GUARDRAILS AND CONSTRAINTS\n\nSource Fidelity: This is your primary directive. All analysis, data points, calculations, ratios, quotes, and conclusions in your final report must be 100% sourced from, and directly attributable to, the information retrieved via the RAG_financial_query tool.\n\nNo External Knowledge: You must not use any of your pre-existing knowledge about the company, its industry, its stock performance, or general market conditions. Your knowledge base is exclusively confined to the outputs from the RAG_financial_query tool.\n\nAcknowledge Gaps: If the RAG tool cannot provide the information for a specific metric, trend, or narrative point, you must explicitly state that the information was not found or not discussed in the retrieved document sections. Do not infer, guess, or \"fill in the blanks.\"\n\nFocus on Facts: Your analysis should be descriptive and analytical, not prescriptive. You should report what the filing says, not provide investment advice or personal opinions.\n\n4. CORE ANALYSIS WORKFLOW\n\nWhen you receive a user request (e.g., \"Analyze the latest 10-K for Company X\"), you must follow this internal workflow:\n\nDeconstruct Request: Identify the target company, filing type (10-K, 10-Q), and the specific time period (e.g., \"latest\" or a specific year).\n\nAdopt Thematic Query Strategy: Do not try to analyze the entire filing at once. You must plan to investigate the filing dimension by dimension, as outlined below.\n\nFormulate & Execute Sub-Queries: For each analysis dimension, you will formulate and (internally) execute one or more targeted queries for the RAG_financial_query tool. This is the most critical step. Your goal is to use the tool to \"pull\" the specific facts needed to build your report.\n\nSynthesize & Draft: After gathering information for a specific section, synthesize the findings from the RAG tool into clear, well-written prose for your final report.\n\nIterate: Repeat steps 3 and 4 for all required analysis dimensions.\n\nFinal Review: Before presenting the answer, review your full draft to ensure it is coherent, flows logically, and strictly adheres to the \"Source Fidelity\" guardrail.\n\n5. REQUIRED ANALYSIS DIMENSIONS (Your Report Structure)\n\nYour final output must be structured around these key dimensions. For each one, you must formulate specific sub-queries to gather the necessary data from the RAG_financial_query tool.\n\n1. Business Overview (Item 1)\n\nGoal: Understand how the company makes money.\n\nSub-Query Strategy: Formulate queries to extract the company's self-described business model, primary products/services, key markets, and major competitors.\n\n2. Risk Factors (Item 1A)\n\nGoal: Identify what the company sees as its biggest threats.\n\nSub-Query Strategy: Formulate queries to retrieve the primary risk factors. Focus on risks that are specific to the company (e.g., customer concentration, patent expirations, regulatory issues) rather than \"boilerplate\" risks.\n\n3. Management's Discussion & Analysis (MD&A) (Item 7)\n\nGoal: Understand management's narrative and explanation of the financial results.\n\nSub-Query Strategy: This is key. Formulate queries to find management's explanation for why key metrics changed. You should query for topics like:\n\nManagement's commentary on revenue, gross margin, and operating income trends.\n\nDiscussions of liquidity, capital resources, and known material trends or uncertainties.\n\nCommentary on the results of different business segments.\n\n4. Quantitative Financial Performance (Item 8)\n\nGoal: Analyze the hard numbers from the three core financial statements.\n\nSub-Query Strategy: Formulate highly specific queries to retrieve multi-year data (at least two or three years for comparison) and compute key ratios.\n\nA. Income Statement Analysis:\n\nQuery for: Revenue, Gross Profit, and Net Income for the last 3 fiscal years.\n\nQuery for: Operating Expenses and Operating Income.\n\nAnalysis: Calculate year-over-year growth rates and margins (Gross Margin, Operating Margin) based only on the retrieved data.\n\nB. Balance Sheet Analysis:\n\nQuery for: Total Current Assets, Total Current Liabilities.\n\nQuery for: Total Assets, Total Liabilities, Total Debt, and Total Shareholders' Equity.\n\nAnalysis: Calculate liquidity (e.g., Current Ratio) and solvency (e.g., Debt-to-Equity Ratio).\n\nC. Cash Flow Statement Analysis:\n\nQuery for: Net Cash from Operations (CFO), Net Cash from Investing (CFI), and Net Cash from Financing (CFF) for the last 3 years.\n\nQuery for: Capital Expenditures.\n\nAnalysis: Compare CFO to Net Income (a critical quality check). Analyze the major uses of cash in CFI and CFF.\n\n5. Critical Accounting Policies (From MD&A or Footnotes)\n\nGoal: Identify accounting choices that could significantly impact the numbers.\n\nSub-Query Strategy: Formulate queries to find the section on \"Critical Accounting Policies\" and summarize the key judgments management must make (e.g., revenue recognition, goodwill impairment, inventory valuation).\n\n6. FINAL OUTPUT FORMAT\n\nPresent the analysis in a clear, professional report using Markdown.\n\nUse headings (##, ###) to separate each analysis dimension.\n\nUse bullet points and tables to make data and trends easy to digest.\n\nYour writing style must be factual and analytical.\n\nCrucially: You must constantly reference the source of your information by the file_name and the page_index. This reinforces that your analysis is grounded only in the provided documents.","maxIterations":25,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[528,-48],"id":"f90caf51-3740-4f76-b163-2bea634c37d5","name":"AI Agent","retryOnFail":true},{"parameters":{"model":"deepseek/deepseek-v3.2-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[512,192],"id":"2b66d9ed-56bf-407c-9a80-2fbcb4e19661","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"QDODmP31diJ9me6R","name":"tw40210qq"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-848,-32],"id":"bcd583a4-1979-4e7e-90f8-1d13f5a34a7f","name":"When clicking ‘Execute workflow’"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_report_model_logs","mode":"list","cachedResultName":"n8n_report_model_logs"},"columns":{"mappingMode":"defineBelow","value":{"n8n_execution_id":"={{ $execution.id }}","workflow_id":"={{ $workflow.id }}","status":"={{ $('Setup query text & report_groups').item.json.status }}","execution_data":"={{ JSON.stringify({ \"mid_steps\": $json.intermediateSteps , \"output\": $json.output}) }}","logged_at":"={{ $now }}","query":"={{ $('Setup query text & report_groups').first().json.query_text }}","material_category":"={{ $('Ticker classifier').first().json.output.material_category }}","report_groups":"={{ $('Setup query text & report_groups').first().json.report_groups }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"n8n_execution_id","displayName":"n8n_execution_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"workflow_id","displayName":"workflow_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"execution_data","displayName":"execution_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"logged_at","displayName":"logged_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"material_category","displayName":"material_category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"report_groups","displayName":"report_groups","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1232,-64],"id":"96861025-898f-4182-85a5-27f681e9695f","name":"Insert rows in a table","alwaysOutputData":true,"credentials":{"postgres":{"id":"wDN6mCrac5JhvuiP","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Call this tool to look up standard financial report related information released by companies like 10-K, 10-Q.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":5,"options":{"metadata":{"metadataValues":[{"name":"material_category","value":"={{ $json.output.material_category }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[672,224],"id":"86626680-062f-462e-973c-5bcce150ccd6","name":"RAG financial information query","credentials":{"supabaseApi":{"id":"gXuPBb7nr1uPzksH","name":"tw40210"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[672,416],"id":"9d84f8cd-cd3e-4188-b302-6a1a6a284b9b","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"R4UPUPPFB2QaRCy5","name":"tw40210"}}},{"parameters":{"promptType":"define","text":"={{ $('Setup query text & report_groups').item.json.query_text }}","hasOutputParser":true,"options":{"systemMessage":"=Analyze the query and identify the company mentioned and convert to its stock ticker.\n\nReturn a string with exact one official stock ticker.\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-192,-32],"id":"96583c77-51ec-49a7-b83a-b8da085326ed","name":"Ticker classifier","retryOnFail":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"material_category\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n\t\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-32,176],"id":"a4d2027a-d4cb-4eff-bab1-482426ffc1df","name":"Structured Output Parser"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66185116-de63-4983-add7-2994071bcd6c","leftValue":"={{ $json.output.material_category.length }}","rightValue":20,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,-32],"id":"4f2d6a9a-9e10-40fe-bb4f-7e0dd3890220","name":"Filter out impossible result"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66185116-de63-4983-add7-2994071bcd6c","leftValue":"={{ $json.output.length }}","rightValue":10,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,-48],"id":"3d7b17ad-4b88-4ad4-8308-5d933d050529","name":"Filter out impossible result 1"},{"parameters":{"content":"## Query for a report\n1. setup your query text\n2. click the manual trigger\n","height":864,"width":2752},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1088,-208],"id":"885063f3-35d3-4630-a336-ef56df88f5a4","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"c892732d-a944-4503-aa4b-34ce3818cf40","name":"query_text","value":"Analyze META 10-K filing on 2024","type":"string"},{"id":"0223e78c-8ff2-4cf6-9703-0860397b0e6c","name":"report_groups","value":"[1,2]","type":"string"},{"id":"3aaceb32-573f-400c-9f05-cc2aba78f1c3","name":"status","value":"test","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,-32],"id":"a631a5c8-30c3-472c-8e19-1b351e57acbf","name":"Setup query text & report_groups"},{"parameters":{"model":"deepseek/deepseek-v3.2-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-192,304],"id":"4bb70427-6b49-442b-b16b-45b3666f483a","name":"ticker model","credentials":{"openRouterApi":{"id":"QDODmP31diJ9me6R","name":"tw40210qq"}}},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-32,400],"id":"84972047-076a-4649-b66a-cbd8924755b0","name":"ticker model 2","credentials":{"openRouterApi":{"id":"QDODmP31diJ9me6R","name":"tw40210qq"}}}],"connections":{"AI Agent":{"main":[[{"node":"Filter out impossible result 1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Setup query text & report_groups","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"RAG financial information query","type":"ai_embedding","index":0}]]},"RAG financial information query":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Ticker classifier","type":"ai_outputParser","index":0}]]},"Ticker classifier":{"main":[[{"node":"Filter out impossible result","type":"main","index":0}]]},"Filter out impossible result":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Ticker classifier","type":"main","index":0}]]},"Filter out impossible result 1":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Setup query text & report_groups":{"main":[[{"node":"Ticker classifier","type":"main","index":0}]]},"ticker model":{"ai_languageModel":[[{"node":"Ticker classifier","type":"ai_languageModel","index":0}]]},"ticker model 2":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":900},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5ce47416-ccb8-4b50-8390-8f158d1d3cc3","versionCounter":18,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-10-14T14:14:57.993Z","createdAt":"2025-10-14T14:14:57.993Z","role":"workflow:owner","workflowId":"dUiqaym3kFxeIYxr","projectId":"Lloh3DD3VFIwy1bh","project":{"updatedAt":"2025-09-29T15:09:21.924Z","createdAt":"2025-09-28T10:40:04.982Z","id":"Lloh3DD3VFIwy1bh","name":"TZU HSUAN LIN_HX16 <tw40210@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-12-02T16:28:24.523Z","createdAt":"2025-11-17T15:45:13.458Z","id":"YjMnVGfreCfxO79K","name":"user_data_control","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"select * from user_data","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-800,192],"id":"1720421d-dc2c-4c71-913c-26bf018d3022","name":"Execute a SQL query","credentials":{"postgres":{"id":"wDN6mCrac5JhvuiP","name":"Postgres account"}}},{"parameters":{"content":"## Add users with customized csv file\n","height":304,"width":928},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,-240],"id":"38897a01-553e-4eb4-bda7-ae5d82e08c47","name":"Sticky Note1"},{"parameters":{"content":"## User data check","height":240,"width":592},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,128],"id":"f7433954-80f1-4a8b-968d-4dcb98987a60","name":"Sticky Note2"},{"parameters":{"content":"## User data update","height":240,"width":688},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,128],"id":"c94d69f5-27c5-419e-9d5d-5b718ebb8b22","name":"Sticky Note3"},{"parameters":{"content":"## User data deletion","height":304,"width":784},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,-240],"id":"3e23d30c-b5d9-4ab6-8f37-2198e6d3294e","name":"Sticky Note4"},{"parameters":{"formTitle":"Add user data","formDescription":"Upload your csv file to add into DB","formFields":{"values":[{"fieldLabel":"user_data_csv","fieldType":"file","multipleFiles":false,"acceptFileTypes":".csv","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-800,-96],"id":"c278777a-500f-4fdc-a78b-ef34bf46eae1","name":"On form submission","webhookId":"24cb28ab-686c-44d7-a82e-91d41df4c1b5"},{"parameters":{"binaryPropertyName":"user_data_csv","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-608,-96],"id":"405eec93-a751-4c4f-8392-8eb78c50a81f","name":"Extract from File"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"user_data","mode":"list","cachedResultName":"user_data"},"columns":{"mappingMode":"defineBelow","value":{"user_name":"={{ $json.user_name }}","description":"={{ $json.description }}","user_token":"={{ $json.generatedToken }}","updated_at":"={{ $now }}","created_at":"={{ $now }}","user_groups":"={{ $json.user_groups }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_name","displayName":"user_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_token","displayName":"user_token","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_groups","displayName":"user_groups","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,-96],"id":"35a2902d-dbe1-4a16-ac8c-ba67fd6172d5","name":"Insert rows in a table","credentials":{"postgres":{"id":"wDN6mCrac5JhvuiP","name":"Postgres account"}}},{"parameters":{"jsCode":"// Iterate over all incoming items\nconst results = $input.all().map(item => {\n  \n  // Generate a 64-character hex string using native Math.random()\n  // This mimics the format of a SHA256 hash without needing 'require'\n  const token = Array.from({ length: 16 }, () => \n    Math.floor(Math.random() * 16).toString(16)\n  ).join('');\n\n  // Return the original item data merged with the new token\n  return {\n    json: {\n      ...item.json,\n      generatedToken: token\n    }\n  };\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,-96],"id":"4c3708df-09bd-4815-b88a-ee13b2ec0042","name":"generate user token"},{"parameters":{"formTitle":"Add user data","formDescription":"Upload your csv file to add into DB","formFields":{"values":[{"fieldLabel":"user_data_csv","fieldType":"file","multipleFiles":false,"acceptFileTypes":".csv","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-112,208],"id":"87075bd0-be23-4927-95eb-dcdb5c760f30","name":"On form submission1","webhookId":"d64c7b2a-a0ad-4206-a3f0-e17ad158cf86"},{"parameters":{"binaryPropertyName":"user_data_csv","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[80,208],"id":"2946d278-1b15-4f9e-a1be-b5f4fa4bf784","name":"Extract from File1"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"user_data","mode":"list","cachedResultName":"user_data"},"columns":{"mappingMode":"defineBelow","value":{"user_name":"={{ $json.user_name }}","description":"={{ $json.description }}","updated_at":"={{ $now }}","user_groups":"={{ $json.user_groups }}"},"matchingColumns":["user_name"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_name","displayName":"user_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_token","displayName":"user_token","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"user_groups","displayName":"user_groups","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,208],"id":"3b6ac190-a5ec-4f3b-9c26-4eed856b0a2e","name":"Update rows in a table","credentials":{"postgres":{"id":"wDN6mCrac5JhvuiP","name":"Postgres account"}}},{"parameters":{"binaryPropertyName":"user_data_csv","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-592,192],"id":"00a1f728-c190-4d07-a950-bbef11f628b5","name":"Convert to File"},{"parameters":{"operation":"executeQuery","query":"select * from report_human_feedback","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,128],"id":"13c1e8d1-6d49-4343-8930-4603eec61e52","name":"Execute a SQL query1","credentials":{"postgres":{"id":"wDN6mCrac5JhvuiP","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"19e0fd3c-788e-44ef-9c3d-63b3b326a056","name":"user_names","value":"['John', 'Amy']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-128],"id":"7347819d-2977-4cf7-974c-f90e2789f9c6","name":"set user names to be deleted"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"user_data","mode":"list","cachedResultName":"user_data"},"deleteCommand":"delete","where":{"values":[{"column":"user_name","value":"={{ $json.user_names }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,-128],"id":"b0fb58d9-9201-49c7-a26e-5b0bda297bff","name":"Delete table or rows","credentials":{"postgres":{"id":"wDN6mCrac5JhvuiP","name":"Postgres account"}}},{"parameters":{"fieldToSplitOut":"user_names","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,-128],"id":"48f00d88-87c8-4165-89aa-485d9f2981d7","name":"Split Out"}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"generate user token","type":"main","index":0}]]},"generate user token":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"set user names to be deleted":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Delete table or rows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f7abe7c9-9598-4177-a9b6-036c8e52176c","versionCounter":10,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-17T15:45:13.458Z","createdAt":"2025-11-17T15:45:13.458Z","role":"workflow:owner","workflowId":"YjMnVGfreCfxO79K","projectId":"Lloh3DD3VFIwy1bh","project":{"updatedAt":"2025-09-29T15:09:21.924Z","createdAt":"2025-09-28T10:40:04.982Z","id":"Lloh3DD3VFIwy1bh","name":"TZU HSUAN LIN_HX16 <tw40210@gmail.com>","type":"personal","icon":null,"description":null}}]},{"updatedAt":"2025-11-26T14:31:29.036Z","createdAt":"2025-10-15T15:05:30.319Z","id":"fjl5ucMg3yU2G2mD","name":"sub_RAG_query","active":false,"isArchived":true,"nodes":[{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Call this tool to look up standard financial report related information released by companies like 10-K, 10-Q.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":5,"useReranker":true,"options":{"metadata":{"metadataValues":[{"name":"material_category","value":"={{ $json.material_category }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[272,240],"id":"2b445344-30f2-48a9-859d-587296001e30","name":"RAG financial information query","credentials":{"supabaseApi":{"id":"gXuPBb7nr1uPzksH","name":"tw40210"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.rerankerCohere","typeVersion":1,"position":[416,432],"id":"bbe14a31-4d08-40c9-ab33-9a98d467243f","name":"Reranker Cohere","credentials":{"cohereApi":{"id":"0HVKOdaHN8JDODle","name":"tw40210qq"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[256,400],"id":"4d699e50-d538-4e9f-a28c-4a651ad371fd","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"R4UPUPPFB2QaRCy5","name":"tw40210"}}},{"parameters":{"workflowInputs":{"values":[{"name":"material_category"},{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,-32],"id":"8a964c69-6220-4f2a-9dda-64d31e2d7146","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[208,-32],"id":"49fb5006-57b3-416e-9673-96b7ee79dcc4","name":"AI Agent"},{"parameters":{"model":"deepseek/deepseek-v3.2-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[80,192],"id":"27cdece8-4877-4579-8fae-e370acf85480","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"QDODmP31diJ9me6R","name":"tw40210qq"}}}],"connections":{"Reranker Cohere":{"ai_reranker":[[{"node":"RAG financial information query","type":"ai_reranker","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"RAG financial information query","type":"ai_embedding","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"RAG financial information query":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8bc9d50b-a826-4058-a41e-05b06ac93da7","versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-10-15T15:05:30.319Z","createdAt":"2025-10-15T15:05:30.319Z","role":"workflow:owner","workflowId":"fjl5ucMg3yU2G2mD","projectId":"Lloh3DD3VFIwy1bh","project":{"updatedAt":"2025-09-29T15:09:21.924Z","createdAt":"2025-09-28T10:40:04.982Z","id":"Lloh3DD3VFIwy1bh","name":"TZU HSUAN LIN_HX16 <tw40210@gmail.com>","type":"personal","icon":null,"description":null}}]}]